body
{
    margin: 0vw;
    padding: 0vw;
    background-color: black;
    color: #00fc1d;
    font-family: Consolas;
    font-size: 0.8vw;
}

@media only screen and (max-width: 1000px)
{
    body
    {
        font-size: 1.5vw;
    }
}

.header
{
    position: fixed;
    height: max-content;
    width: 11vw;
}

.logo
{
    width: 11vw;
    height: 11vw;
    border-radius: 1vw;
}

.navig
{
    margin: 0vw;
    padding: 0vw;
    border-top: 0.1vw solid #00fc1d;
    border-right: 0.1vw solid #00fc1d;
    border-top-right-radius: 1vw;
    border-bottom-right-radius: 1vw;
    height: 79.4vh;
}

.navig ul
{
    width: 11vw;
    margin: 0vw;
    padding: 0vw;
    border-bottom: 0.3vw double #00fc1d;
    list-style-type: none;
    text-align: center;
}

.navig a
{
    text-decoration: none ;
    margin-right: auto;
    color: #00fc1d;
}

.navig a::after
{
    content: '<';
}

.page
{
    margin-left: 11vw;
    height: 100vh;
}

main a
{
    text-decoration: none;
    color: #b381c7;
}

main a:hover
{
    color: white;
}

.top
{
    position: static;
    width: max-content;
    height: 7vh;
}

.titre
{
    position: fixed;
    width: 89vw;
    border-bottom: 1vh solid #00fc1d;
    border-radius: 100%;
}

.titre h1
{
    margin-left: auto;
    margin-right: auto;
    width: max-content;
    margin-top: 1vw;
    margin-bottom: 1vw;
    border: 0.1vw solid #00fc1d;
    text-align: center;
}

.content
{
    height: 91vh;
    margin: 0vw;
    padding: 0vw;
    margin-top: 1vw;
    border-left: 0.1vw solid #00fc1d;
    border-right: 0.1vw solid #00fc1d;
    border-radius: 1vw;
    overflow-y: auto;
    overflow-x: hidden;
}

.canvas
{
    position: fixed;
    width: 74.9vw;
    height: 91vh;
    padding: 0;
    padding-right: 2.5vw;
    padding-left: 2.5vw;
    margin: 0;
    border-right: 0.1vw solid #00fc1d;
    border-radius: 1vw;
}

.slide
{
    position: fixed;
    padding-left: 1vw;
    padding-right: 1vw;
    border-left: 0.1vw solid #00fc1d;
    border-radius: 1vw;
    margin-left: 80vw;
    height: 91vh;
    text-align: center;
    width: max-content;
}

.fab 
{
    font-size: 5vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
}

.fas 
{
    font-size: 5vw;
    margin-top: 1vw;
    margin-bottom: 0vw;
}

.presentation
{
    padding: 1vw;
}

.presentation a
{
    text-align: center;
}

.presentation p
{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: max-content;
}

.cv
{
    margin-left: 41vw;
    text-align: center;
    padding-right: 1vw;
    padding-left: 1vw;
    border: 0.2vw solid #00fc1d;
    border-radius: 1vw;
}

.project
{
    margin: 1vw;
}

.littleproject
{
    position: sticky;
    height: max-content;
    padding-bottom: 2vw;
}

.terrafunder
{
    height: 20vw;
}
.lolyweb
{
    height: 20vw;
}
.morpion
{
    height: 20vw;
}

.imagelt 
{
    position: absolute;
    width: max-content;
    height: max-content;
}

.imagelt img
{
    padding: 1vw;
    width: 18vw;
    height: 18vw;
}

.imagert
{
    position: absolute;
    width: 20vw;
    margin-left: 68vw;
}

.imagert img
{
    padding-top: 2vw;
    padding-left: 2vw;
    width: 15vw;
}

.textrt 
{
    position: absolute;
    margin: 0vw;
    margin-left: 20vw;
    width: 68vw;
    height: 20vw;
}

.textlt
{
    position: absolute;
    margin: 0vw;
    padding-left: 2vw;
    padding-top: 2vw;
    width: 68vw;
}

.name
{
    font-size: 1.2vw;
}

.backup ul
{
    margin-left: 5vw;
    list-style-type: '¯\005C_(ツ)_/¯ >';
}