RewriteEngine on

RewriteRule ^Home$ index.php?req=home
RewriteRule ^About$ index.php?req=about
RewriteRule ^Project$ index.php?req=project
RewriteRule ^Save$ index.php?req=backup

RewriteRule ^Login$ index.php?req=login&act=login
RewriteRule ^logOff$ index.php?req=login&act=logOff

RewriteRule ^verifyLogin$ index.php?req=login&act=verifyLogin
RewriteRule ^Register$ index.php?req=login&act=register
RewriteRule ^verifyRegister$ index.php?req=login&act=verifyRegister

ErrorDocument 404 https://loly.ovh/Login