RewriteEngine on

RewriteRule ^Home$ index.php?req=home
RewriteRule ^About$ index.php?req=about
RewriteRule ^Project$ index.php?req=project
RewriteRule ^Save$ index.php?req=backup

RewriteRule ^Admin$ index.php?req=admin&act=admin
RewriteRule ^changeStatus$ index.php?req=admin&act=changeStatus

RewriteRule ^Login$ index.php?req=login&act=login
RewriteRule ^verifyLogin$ index.php?req=login&act=verifyLogin
RewriteRule ^Register$ index.php?req=login&act=register
RewriteRule ^verifyRegister$ index.php?req=login&act=verifyRegister
RewriteRule ^logOff$ index.php?req=login&act=logOff

ErrorDocument 404 https://loly.ovh/Login